/* stylelint-disable sh-waqar/declaration-use-variable */
@import '../../styles/imports';

.r-card {
    background: $color-white;
    border-radius: 8px;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25));
    max-height: 230px;
    min-width: 250px;
    overflow: hidden;
    width: 100%;

    &--expanded {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        max-height: 477px;
        width: 100%;
    }

    &__photo {
        background-position: center;
        background-size: cover;
        border-radius: 8px 8px 0 0;
        display: flex;
        height: 180px;
        transition: height 0.5s ease-in;

        &--short {
            height: 65px;
        }
    }

    &__gradient {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            #fff 100%
        );
        height: 181px;
        transition: height 0.5s ease-in;
        width: 100%;

        &--short {
            height: 66px;
        }
    }

    &__rating-row {
        display: inline-flex;
        justify-content: space-between;
        padding: 16px;
        width: 100%;
    }

    &__check-in-button {
        @include info-text;
        align-items: center;
        background: $color-lightgray;
        border-radius: 8px;
        color: $color-lightyellow;
        display: inline-flex;
        height: 2.25rem;
        justify-content: center;
        padding: 8px 12px;
        text-decoration: none;
        transition: background 500ms ease;
        width: 4.25rem;

        &--checked {
            background: $color-dark-blue;
            filter: contrast(200%);
        }

        &:hover {
            background: $color-dark-blue;
            filter: contrast(200%);
        }
    }

    &__person {
        fill: $color-lightyellow;
        height: 20px;
        stroke-opacity: 0;
    }

    &__rating {
        align-items: center;
        display: flex;
        height: 2.25rem;
        justify-content: center;
        width: 4.25rem;
    }

    &__star {
        fill: $color-lightgray;
        height: 20px;
        stroke-opacity: 00%;
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin: -20px 16px 16px;
        z-index: $zindex-medium;

        &--expanded {
            margin: 0 16px 16px;
        }
    }

    &__categories-row {
        color: $color-gray-900;
        display: flex;
        font-size: $font-size-xxsmall;
        text-transform: uppercase;
        z-index: $zindex-medium;
    }

    &__category:last-child span:last-child {
        display: none;
    }

    &__ellipse {
        margin: 0 10px;
    }

    &__content-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        z-index: $zindex-medium;
    }

    &__title {
        color: $color-dark-blue;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color 300ms ease;
        white-space: nowrap;

        &:hover {
            color: lighten($color-dark-blue, 20%);
            transition: all 250ms ease-in-out;
        }
    }

    &__title-link {
        overflow: hidden;
        text-decoration: none;
    }

    &__time {
        color: $color-gray-900;
        display: inline-flex;
        font-size: $font-size-xxsmall;
    }

    &__expanded-section {
        color: $color-gray-900;
        display: flex;
        flex-direction: column;
        font-size: $font-size-normal;
        z-index: $zindex-medium;

        &--hidden {
            display: none;
        }
    }

    &__link {
        align-items: center;
        color: $color-gray;
        display: inline-flex;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-medium;
        gap: 10px;
        padding: 10px 0 3px;
        text-decoration: none;
        text-transform: uppercase;

        &:last-child {
            padding: 0 0 17px;
        }

        &:hover {
            color: lighten($color-gray, 20%);
            transition: all 250ms ease-in-out;
        }
    }

    &__description {
        @include text-shorten(3);
        line-height: 1.5;

        &--more {
            display: flex;
        }
    }

    &__button-row {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 16px;
        padding-bottom: 24px;
        position: absolute;
        right: 0;
        z-index: $zindex-popover;

        &--hidden {
            display: none;
        }
    }

    &__read-more {
        padding: 8px 24px;

        &--hidden {
            display: none;
        }

        &:hover {
            color: lighten($color-gray, 20%);
            transition: all 250ms ease-in-out;
        }
    }

    &__spacer {
        margin-left: 3px;

        &--wider {
            margin-left: 5px;
        }
    }

    .btn__primary {
        font-size: $font-size-xsmall;
        line-height: 1;
        padding: 0.75rem 1rem;
        transition: background 500ms ease;
    }

    &__button--checked {
        .btn__primary,
        .btn__primary:hover,
        .btn__primary:focus,
        .btn__primary:active {
            background: $color-mint;
            color: $color-dark-blue;
            font-weight: $font-weight-bold;
        }
    }
}
