@import '../../../../styles/imports';

.reviews-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__heading {
        @include h2-alt;
        color: $color-gray;
    }

    &__modal-heading {
        @include h2-alt;
        color: $color-gray-300;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .btn__primary {
        align-self: flex-start;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-medium;
        line-height: 1;
        padding: 0.625rem 1rem;

        &:focus {
            background: $color-blue;
        }
        @media (max-width: 767px) {
            align-self: center;
        }
    }
}
