@import '../../styles/imports';

.eat-out-categories {
    height: 100%;
    width: 100%;

    &__container {
        @include layout-container;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__breadcrumbs {
        align-self: start;
    }

    &__title {
        @include h1-regular;
        align-self: start;
        color: $color-gray;
        margin-bottom: 72px;

        @include respond-to('tablet') {
            margin-bottom: 36px;
        }

        @include respond-to('mobile') {
            margin-bottom: 18px;
        }
    }

    &__grid {
        display: grid;
        gap: 32px;
        grid-auto-rows: 477px;
        grid-template-columns: repeat(3, calc((100% - 32px * 2) / 3));
        width: 100%;

        @include respond-to('tablet') {
            gap: 24px;
            grid-template-columns: repeat(2, calc((100% - 24px) / 2));
        }
        @include respond-to('mobile') {
            gap: 16px;
            grid-template-columns: repeat(1, 100%);
        }
    }
}
