@import '../../styles/imports';

.dashboard {
    height: 100%;
    width: 100%;

    &__container {
        @include layout-container;
        display: flex;
        flex-direction: column;
        gap: 72px;

        @include respond-to('tablet') {
            gap: 36px;
        }

        @include respond-to('mobile') {
            gap: 18px;
        }
    }
}
