$color-black: #000;
$color-dark-blue: #001836;
$color-gray: #3e5067;
$color-lightgray: #31465e;
$color-grey-980: #fafafa;
$color-gray-900: #6a7889;
$color-gray-800: #627485;
$color-gray-700: #9ea7b3;
$color-gray-500: #cacfd5;
$color-gray-450: #d3dce6;
$color-gray-400: #dcdfe3;
$color-gray-300: #edeff1;
$color-gray-200: #f6f7f8;
$color-gray-border: #d3dce6;
$color-grey-disabledbutton: #c5d1d4;
$color-white: #fff;

$color-blue: #6e44ff;
$color-mint: #7bf1a8;
$color-lightred: #ff6e75;
$color-malibu: #72ddf7;
$color-lightyellow: #fadb5e;
$color-lightviolet: #b892ff;

$color-layout-background: #f6f7f8;
$color-navbar-onover: rgba(0, 0, 0, 0.12);
