// FONT-FAMILY
$font-family: Roboto;

// FONT-WEIGHT
$font-weight-heavy: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

// FONT-SIZE
$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-xmedium: 20px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 36px;
$font-size-xxxlarge: 128px;
