@import '../../../../styles/imports';

.news {
    @media (max-width: 1150px) {
        align-items: center;
        align-self: center;
    }

    &__title {
        @include h2-alt;
        color: $color-gray;
    }

    &__masonry-grid {
        align-items: flex-start;
        column-gap: 48px;
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -ms-flexbox;
        display: flex;
        margin-top: 24px;
        width: auto;

        @include respond-to('tablet') {
            gap: 24px;
        }
    }

    &__column {
        background-clip: padding-box;
    }

    &__item {
        display: flex;
        margin-bottom: 48px;
        position: relative;
        @include respond-to('tablet') {
            margin-bottom: 24px;
        }

        &--hidden {
            display: none;
        }
    }

    &__footer {
        display: flex;
        place-content: center;
    }
}
