@import '../../../../../styles/imports';

.reviews-list {
    $_rating-width: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @mixin info-text {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        line-height: calc(16 / 14);
        text-transform: uppercase;
    }

    &__review {
        background-color: $color-white;
        border-radius: 0.5rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        padding: 1.25rem 1rem;
        position: relative;
    }

    &__name {
        @include info-text;
        color: $color-dark-blue;
        max-width: calc(100% - #{$_rating-width});
        padding-bottom: 0.5rem;
    }

    &__rating {
        @include info-text;
        align-items: center;
        background-color: $color-lightyellow;
        border-radius: 0 0.5rem;
        color: $color-lightgray;
        display: flex;
        gap: 8px;
        height: 2rem;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: $_rating-width;
    }

    &__comment {
        @include body2-normal;
        color: $color-dark-blue;
    }
}
